* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.container-one {
  background-color: #1f2937;
  padding: 20px;
  margin: 0 auto;
}

.logo {
  font-size: 18px;
  font-weight: 900;
  color: #f9faf8;
}

h1 {
  color: #f9faf8;
  margin-bottom: 3px;
}

p {
  color: #e5e7eb;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  list-style: none;
}

.container-one {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.navlinks {
  display: flex;
  gap: 30px;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.btn-signup {
  padding: 5px 20px;
  margin: 10px;
  background-color: #3882f6;
  border-radius: 8px;
  border: 1px solid #3882f6;
}
